<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889400413121-qgp3r2ed30an733hgpe6661qjhutf6g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889400413121-qgp3r2ed30an733hgpe6661qjhutf6g2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>889400413121-5dku367rrc5ttvb9m9mkqsl1qu8o93r3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWjn6zlPhYLEsSqt78lEODnRC8s49n3OA</string>
	<key>GCM_SENDER_ID</key>
	<string>889400413121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.castleCode.Tinder</string>
	<key>PROJECT_ID</key>
	<string>firestore-a6b7c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-a6b7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889400413121:ios:f57d629ef5abfa70193d40</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-a6b7c.firebaseio.com</string>
</dict>
</plist>