<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145979776598-9jj41a5bf3anveb06ckv782ojpvkdeoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145979776598-9jj41a5bf3anveb06ckv782ojpvkdeoe</string>
	<key>API_KEY</key>
	<string>AIzaSyB98mkt_-B1LnEQ99WrVRO9Ek7zWt9kAx4</string>
	<key>GCM_SENDER_ID</key>
	<string>145979776598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.castleCode.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-94400</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-94400.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145979776598:ios:4e31d6b60bb5ae35cc25f7</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-94400.firebaseio.com</string>
</dict>
</plist>